apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sih-swaraj-comp-queue-secret
  namespace: default
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secretsmanager
  target:
    name: sih-swaraj-comp-queue-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: sih-swaraj-comp-queue-prod
